@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400&display=swap');
body{
  font-family: 'Nunito Sans', sans-serif;
}
.search{
    position: relative;
}

.search_botton{
    margin-left: 1rem;
}
.input-form{
    display:flex;
}

.image{
 width: 100%;
}

.card-container{
    background: whitesmoke;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}
.result-wrapper{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    row-gap: 1rem;
}

@media screen and (max-width: 700px){
    .search{
        width: 80%;
    }
}

@media screen and (max-width: 400px){
    .search{
        width: 90%;
    }
}